In [12]:
#-*- coding:euc-kr -*-

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [81]:
data = pd.read_csv("data2.csv",encoding='euc-kr')
data['년/월/일'] = pd.to_datetime(data['년/월/일'])
data = data.sort('년/월/일')
data = data.reset_index().iloc[:,1:]

C:\Users\sh2\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  This is separate from the ipykernel package so we can avoid doing imports until

In [82]:
data.head()

,년/월/일,종가,대비,거래량(주),거래대금(원),시가,고가,저가,시가총액(백만),상장주식수(주)
0,2017-06-26,22500,200,149294,3.354340e+09,22250,22850,22050,747851,33237807
1,2017-06-27,22500,0,236309,5.380407e+09,22800,23150,22500,747851,33237807
2,2017-06-28,22300,-200,111193,2.478979e+09,22350,22500,22200,741203,33237807
3,2017-06-29,21850,-450,87226,1.921456e+09,22450,22450,21850,726246,33237807
4,2017-06-30,22150,300,107599,2.363833e+09,21700,22150,21650,736330,33242903

In [84]:
%matplotlib tk
plt.figure(figsize=(10,6))
plt.plot(data['년/월/일'],data['시가'], color='red')
plt.gcf().autofmt_xdate()
#plt.yticks(test)
plt.show()